<%= form_for(@actor) do |f| %>
  <% if @actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
      <% @actor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
    
  <% end %>

    
    <%= f.label :name, 'Name' %>:
    <%= f.text_field :name %><br />
    <%= f.label :born, 'Born' %>:
    <%= f.text_field :born %><br />

    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
