<h1>Listing actors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Born</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @actors.each do |actor| %>
  <tr>
    <td><%= actor.name %></td>
    <td><%= actor.born %></td>
    <td><%= link_to 'Show', actor %></td>
    <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
    <td><%= link_to 'Destroy', actor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  
  
<% end %>
</table>

<br />

<%= link_to 'New Actor', new_actor_path %>
