<h1>New Actor</h1>

   <% form_for(@actor) do |f| %>
     <p>
       <%= f.label :name %><br />
       <%= f.text_field :name %>
     </p>
     <p>
       <%= f.label :phone %><br />
       <%= f.text_field :phone %>
     </p>
     <p>
       <%= f.label :salary%><br />
       <%= f.text_field :salary %>
     </p>
     <p>
       <%= f.submit "Update" %>
     </p>

   <% end %>

   <%= link_to 'Back', actors_path %>
