<p id="notice"><%= notice %></p>

<h2>Actor</h2>
<table>
  <tr>
    <td>Name</td>
    <td><%= @actor.name %></td>
  </tr>
  <tr>
    <td>Born</td>
    <td><%= @actor.born %></td>
  </tr>
    
</table>    

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>

<h3>Roles</h3>
<table>
  <% @actor.roles_rels.each do |r| %>
    <tr>
      <td><%= link_to r.as, role_path(r) %> in <%= link_to(r.end_node.title, movie_path(r.end_node)) %>
    </tr>
  <% end %>
</table>

<%= link_to 'New Role', add_role_actor_path(@actor) %>
