<p id="notice"><%= notice %></p>

<h2>Actor</h2>
<table>
  <tr>
    <td>Name</td>
    <td><%= @actor.name %></td>
  </tr>
  <tr>
    <td>Born</td>
    <td><%= @actor.born %></td>
  </tr>
    
</table>    

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
