<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
    
  <% end %>

    
    <%= f.label :title, 'Title' %>:
    <%= f.text_field :title %><br />
    <%= f.label :year, 'Year' %>:
    <%= f.text_field :year %><br />

    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
