<h1>Listing movies</h1>

   <table>
     <tr>
       <th>Name</th>
     </tr>

     <% for movie in @movies %>
       <tr>
         <td><%=h movie.title %></td>
         <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
         <td><%= link_to 'Show', movie %></td>
         <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
       </tr>
     <% end %>
   </table>

   <br />

   <%= link_to 'New movie', new_movie_path %>
