<h1>Show Movie</h1>

     <p>
       Title: <%= @movie.title %><br />
     </p>
     <p>
       Date: <%= @movie.year %><br />
     </p>

   <%= link_to 'Back', movies_path %>

<h2>Related Actors</h2>
<%  @movie.relationships.incoming(:acted_in).each do |relationship| %>
  <p>
    <%= relationship.start_node.name %>
    <%= relationship.character %>
    <%= link_to 'Unlink', {:action => "unlink", :id => relationship.end_node.neo_node_id, :actor_id => relationship.start_node.neo_node_id} %>
  </p>
<% end %>
<h2>All Actors</h2>
  <table>
    <% @actors.each do |actor| %>
      <tr>
        <td>
          <%= link_to actor.name, :controller => "actors", :action => "show", :id => actor.neo_node_id.to_s %>
        </td>
        <td>
          <% form_tag "link", :id => @movie.neo_node_id.to_s do %>
            <%= hidden_field_tag "actor_id", actor.neo_node_id.to_s %>
            <%= hidden_field_tag "id", @movie.neo_node_id.to_s %>
            <%= text_field_tag 'character', 'insert character name' %>
            <%= submit_tag "link", :class=> "submit_link" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
